@using Modal.EF
@model IEnumerable<LoaiSanPham>
@{
    ViewBag.Title = "Category";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 5);
}
<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">@ViewBag.Title</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                            <li class="breadcrumb-item active" aria-current="page">@ViewBag.Title</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-lg-6 col-5 text-right">
                    <button type="button" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#myModal1">Thêm Mới</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6" id="lsp">
    <div class="row">
        <div class="col">
            <div class="card">
                <!-- Card header -->
                <div class="card-header border-0">
                    <h3 class="mb-0">Loại Sản Phẩm</h3>
                </div>
                @*<div class="@ViewBag.Alert" style="margin:20px">@ViewBag.notify</div>*@
                <!-- Light table -->
                <div class="table-responsive">
                    @grid.GetHtml(
                        tableStyle: "table align-items-center table-flush",
                        headerStyle: "thead-light",
                        footerStyle: "table-pager",
                        rowStyle: "",
                        alternatingRowStyle: "gridAltRow",
                        columns: grid.Columns(
                        grid.Column("id_loaisp", header: "Mã Loại Sản Phẩm"),
                        grid.Column("tenloai", header: "Tên Loại"),
                        grid.Column("tenngan", header: "Tên Ngắn"),
                        grid.Column("thongtin", header: "Thông Tin"),
                        grid.Column("hinhanh", header: "Hình Ảnh", format: p => Html.Raw("<img width=\"150\" height=\"100\" src=\"../../Source/img-public/" + p.hinhanh + "\">")),
                        grid.Column("xeploai", header: "Xếp Loại"),
                        grid.Column("theloai", header: "Thể Loại"),
                        grid.Column(format: p => Html.ActionLink("Sửa", "#", new { id = p.id_loaisp }, new { @class = "btn btn-info", onclick = "EditLoaiSP(" + p.id_loaisp + ")", data_toggle = "modal", data_target = "#editloaisp" })),
                        grid.Column(format: p => Html.ActionLink("Xoá", "DeleteLoaiSP", new { id = p.id_loaisp }, new { @class = "btn btn-danger", onclick = "return confirm('Bạn Có Muốn Xoá Loai: " + p.tenloai + "?')" }))
                    ))

                </div>

                <!-- Card footer -->
                @*<div class="card-footer py-4">
                        <nav aria-label="...">
                            <ul class="pagination justify-content-end mb-0">
                                <li class="page-item disabled">
                                    <a class="page-link" href="#" tabindex="-1">
                                        <i class="fas fa-angle-left"></i>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item active">
                                    <a class="page-link" href="#">1</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#">2 <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#">
                                        <i class="fas fa-angle-right"></i>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>*@
            </div>
        </div>
    </div>

    <!-- Footer -->
    @Html.Partial("_Footer")
</div>
<!-- Modal content-->
<div id="editloaisp" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            @using (Html.BeginForm("UpdateLoaiSP", "Category", FormMethod.Post, new { @enctype = "multipart/form-data" }))
            {
                <div class="modal-header">
                    <h4 class="modal-title">Edit Loại Sản Phẩm</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <!--<div class="form-group row">-->
                    @*<div class="col-5">
                            <label>Mã Loại Sản Phẩm:</label>
                        </div>*@
                    <!--<div class="col-6">

                            <input type="text" id="a" name="a" class="form-control" hidden />
                        </div>
                    </div>-->
                    <div class="form-group row">
                        <div class="col-5">
                            <label>Tên Loại:</label>
                        </div>
                        <div class="col-6">
                            <input type="text" id="tenloai" name="tenloai" class="form-control" />
                            <input type="text" id="idloaisp" name="idloaisp" class="form-control" hidden />
                            <input type="text" id="a" name="a" class="form-control" hidden />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-5">
                            <label>Tên Ngắn:</label>
                        </div>

                        <div class="col-6">
                            <input type="text" id="tenngan" name="tenngan" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-5">
                            <label>Thông Tin:</label>
                        </div>

                        <div class="col-6">
                            <input type="text" id="thongtin" name="thongtin" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-5">
                            <label>Hình Ảnh:</label>
                        </div>

                        <div class="col-6">
                            <input type="file" id="hinhanh" name="hinhanh" onchange="loadfile('img-hinhanh',event)" accept="image/*" />
                            <img id="img-hinhanh" src="~/Source/img-public/images.jpg" width="100" height="100" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-5">
                            <label>Xếp Loại:</label>
                        </div>

                        <div class="col-6">
                            <input type="text" id="xeploai" name="xeploai" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-5">
                            <label>Thể Loại:</label>
                        </div>

                        <div class="col-6">
                            <input type="text" id="theloai" name="theloai" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Cập Nhật">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
<div id="myModal1" class="modal fade" role="dialog">
    <div class="modal-dialog">
        @using (Html.BeginForm("CreateLoaiSP", "Category", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            <!-- Modal content-->
            <div class="modal-content" id="loadLoaiSP">
                <div class="modal-header">
                    <h4 class="modal-title">Thêm Loại Sản Phẩm</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-5">
                            <label>Tên Loại:</label>
                        </div>
                        <div class="col-6">
                            <input type="text" name="tenloai" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-5">
                            <label>Tên Ngắn:</label>
                        </div>

                        <div class="col-6">
                            <input type="text" name="tenngan" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-5">
                            <label>Thông Tin:</label>
                        </div>

                        <div class="col-6">
                            <input type="text" name="thongtin" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-5">
                            <label>Hình Ảnh:</label>
                        </div>

                        <div class="col-6">
                            <input class="dz-filename" type="file" name="hinhanh" onchange="loadfile('img',event)" accept="image/*" />
                            <img class="bg-success" id="img" width="200" height="150" alt="" style="display:none;border:1px solid #115c52" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-5">
                            <label>Xếp Loại:</label>
                        </div>

                        <div class="col-6">
                            <input type="text" name="xeploai" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-5">
                            <label>Thể Loại:</label>
                        </div>

                        <div class="col-6">
                            <input type="text" name="theloai" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Cập Nhật">
                        <small><button type="button" class="btn btn-danger" data-dismiss="modal">Close</button></small>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Areas/Manage/assets/vendor/jquery/dist/jquery.min.js"></script>

<script type="text/javascript">
    function EditLoaiSP(idloaisp) {
        $.ajax({
            url: "/Manage/Manage/Get_LoaiSanPham_id/?id_loaisp=" + idloaisp,
            type: "GET",
            contentType: "application/json;charset=utf-8",
            dataType: "json",
            success: function (result) {
                var html = "";
                result.forEach(function (value, key) {
                    $('#idloaisp').val(value.id_loaisp);
                    $('#tenloai').val(value.tenloai);
                    $('#tenngan').val(value.tenngan);
                    $('#thongtin').val(value.thongtin);
                    $('#img-hinhanh').attr("src", "../../Source/img-public/" + value.hinhanh);
                    $('#xeploai').val(value.xeploai);
                    $('#theloai').val(value.theloai);
                    $('#a').val(value.id_loaisp);
                    //document.getElementById('img-hinhanh').src = "~/Source/img-public/images.jpg";
                })
                //$('#loadLoaiSP').html(html);
            },
            error: function (errormessage) {
                alert(errormessage.responseText);
            }
        });
    }

    function loadfile(img, event) {
        var output = document.getElementById(img);
        output.style.display = "inline-block";
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function () {
            URL.revokeObjectURL(output.src) // free memory
        }
    };

</script>

<script>
    $(document).ready(function () {
        action_alert();
    })
    function action_alert() {
    var notify = @ViewBag.notify;
    var action = "@ViewBag.action";
    @{ViewBag.notify = null;
      ViewBag.action = null; }
        if (notify == -1) {
            alert_(action, "fail");
            notify = 0;
            }
    else if (notify == 1) {
            alert_(action, "success");
            notify = 0;
        }
        setTimeout(function () { window.location.replace("https://localhost:44372/Manage/Category/QuanLyLoaiSanPham"); }, 3000);
        
    }
    function alert_(title, type) {
        var element = document.getElementById("lsp");
        element.classList.add("none");
        const Toast = Swal.mixin({
            toast: true,
            position: 'top-end',
            showConfirmButton: false,
            timer: 3000,
            timerProgressBar: true,

        })
        switch (type) {
            case "success":
                Toast.fire({
                    icon: 'success',
                    title: title
                })
                break;
            case "fail":
                Toast.fire({
                    icon: 'error',
                    title: title
                })
                break;
            default:
            // code block
        }
    }
</script>

<style>
    .table-pager > td > a {
        background-color: #f5f5f5;
        border: 1px solid #ccc;
        border-radius: 3px;
        padding: 3px 7px;
        border-radius: 50% !important;
    }

        .table-pager > td > a:hover {
            background-color: #f0f0f0;
        }

    .table-pager > .active > a {
        z-index: 3;
        color: #fff;
        border-color: #5e72e4;
        background-color: #5e72e4;
    }
    .none {
        cursor: none;
    }
</style>