@using Modal.EF
@{
    ViewBag.Title = "Index";
}


<!-- Header -->
<div class="header bg-primary pb-6">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    <h6 class="h2 text-white d-inline-block mb-0">Trang Chủ</h6>
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#">Trang Chủ</a></li>
                        </ol>
                    </nav>
                </div>
                @*<div class="col-lg-6 col-5 text-right">
                    <a href="#" class="btn btn-sm btn-neutral" data-toggle="modal" data-target="#newaccount">New</a>
                </div>*@
            </div>
            <!-- Card stats -->
            <div class="row">
                <div class="col-xl-3 col-md-6">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Sản Phẩm</h5>
                                    <span class="h2 font-weight-bold mb-0" id="number_products">0</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-red text-white rounded-circle shadow">
                                        <i class="ni ni-archive-2"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-danger mr-2 text-muted" id="number_products_an">Ẩn: 0</span>
                                <span class="text-nowrap"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Người dùng</h5>
                                    <span class="h2 font-weight-bold mb-0" id="number_member">0</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-orange text-white rounded-circle shadow">
                                        <i class="ni ni-circle-08"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-success mr-2" id="number_member_ad">Quản Lý: 0</span>
                                <span class="text-primary" id="number_member_kh">Khách Hàng: 0</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Hóa Đơn</h5>
                                    <span class="h2 font-weight-bold mb-0" id="number_bills">0</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-green text-white rounded-circle shadow">
                                        <i class="ni ni-cart"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-success mr-2" id="number_bills_ok">Đã Thanh Toán: 0</span>
                                <span class="text-danger" id="number_bills_no"></span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6">
                    <div class="card card-stats">
                        <!-- Card body -->
                        <div class="card-body">
                            <div class="row">
                                <div class="col">
                                    <h5 class="card-title text-uppercase text-muted mb-0">Đấu Giá</h5>
                                    <span class="h2 font-weight-bold mb-0" id="number_auctions">0</span>
                                </div>
                                <div class="col-auto">
                                    <div class="icon icon-shape bg-gradient-info text-white rounded-circle shadow">
                                        <i class="ni ni-money-coins"></i>
                                    </div>
                                </div>
                            </div>
                            <p class="mt-3 mb-0 text-sm">
                                <span class="text-success mr-2" id="number_auctions_run">Run: </span>
                                <span class="text-danger" id="number_auctions_stop">Stop: </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
    <div class="row">
        <div class="col-xl-12">
            <div class="card bg-gradient-white" >
                @*<div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-light text-uppercase ls-1 mb-1">Overview</h6>
                            <h5 class="h3 text-white mb-0">Sales value</h5>
                        </div>
                        <div class="col">
                            <ul class="nav nav-pills justify-content-end">
                                <li class="nav-item mr-2 mr-md-0" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 10, 30, 15, 40, 20, 60, 60]}]}}' data-prefix="$" data-suffix="k">
                                    <a href="#" class="nav-link py-2 px-3 active" data-toggle="tab">
                                        <span class="d-none d-md-block">Month</span>
                                        <span class="d-md-none">M</span>
                                    </a>
                                </li>
                                <li class="nav-item" data-toggle="chart" data-target="#chart-sales-dark" data-update='{"data":{"datasets":[{"data":[0, 20, 5, 25, 10, 30, 15, 40, 40]}]}}' data-prefix="$" data-suffix="k">
                                    <a href="#" class="nav-link py-2 px-3" data-toggle="tab">
                                        <span class="d-none d-md-block">Week</span>
                                        <span class="d-md-none">W</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>*@
                <div class="card-body">
                    <!-- Chart -->
                    @{
                        Html.RenderAction("Chart_Line", "Manage");
                    }
                </div>
            </div>
        </div>
        @*<div class="col-xl-4">
            <div class="card">
                <div class="card-header bg-transparent">
                    <div class="row align-items-center">
                        <div class="col">
                            <h6 class="text-uppercase text-muted ls-1 mb-1">Performance</h6>
                            <h5 class="h3 mb-0">Total orders</h5>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- Chart -->
                    <div class="chart">
                        <canvas id="chart-bars" class="chart-canvas"></canvas>
                    </div>
                </div>
            </div>
        </div>*@
    </div>
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Lượng Truy Cập</h3>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- LuongTruyCap -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Trang</th>
                                <th scope="col">Khách Vãn Lai</th>
                                <th scope="col">Khách Hàng</th>
                                <th scope="col">Tỉ Lệ(KH)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @{IEnumerable<LuongTruyCap> listLuongTruyCap = (IEnumerable<LuongTruyCap>)ViewBag.listLuongTruyCap;}
                            @if (listLuongTruyCap != null)
                            {
                                foreach (var i in listLuongTruyCap)
                                {
                                    <tr>
                                        <th scope="row"><a href="#">/@i.namepage/</a></th>
                                        <td>@i.soluong_vl</td>
                                        <td>@i.soluong_kh</td>
                                        @if((((float)(i.soluong_kh) / (float)(i.soluong_vl + i.soluong_kh)) * 100)>0)
                                        {
                                        <td><i class="fas fa-arrow-up text-success mr-3"></i>@(((float)(i.soluong_kh) / (float)(i.soluong_vl + i.soluong_kh)) * 100)%</td>
                                        }
                                        else {
                                        <td><i class="fas fa-arrow-down text-warning mr-3"></i>@(((float)(i.soluong_kh) / (float)(i.soluong_vl + i.soluong_kh)) * 100)%</td>
                                        }

                                    </tr>
                                    @*<i class="fas fa-arrow-down text-warning mr-3"></i>*@
                                }
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        @*<div class="col-xl-4">
            <div class="card">
                <div class="card-header border-0">
                    <div class="row align-items-center">
                        <div class="col">
                            <h3 class="mb-0">Social traffic</h3>
                        </div>
                        <div class="col text-right">
                            <a href="#!" class="btn btn-sm btn-primary">See all</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <!-- Projects table -->
                    <table class="table align-items-center table-flush">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Referral</th>
                                <th scope="col">Visitors</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">
                                    Facebook
                                </th>
                                <td>
                                    1,480
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">60%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-danger" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Facebook
                                </th>
                                <td>
                                    5,480
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">70%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-success" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Google
                                </th>
                                <td>
                                    4,807
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">80%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-primary" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    Instagram
                                </th>
                                <td>
                                    3,678
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">75%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-info" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">
                                    twitter
                                </th>
                                <td>
                                    2,645
                                </td>
                                <td>
                                    <div class="d-flex align-items-center">
                                        <span class="mr-2">30%</span>
                                        <div>
                                            <div class="progress">
                                                <div class="progress-bar bg-gradient-warning" role="progressbar" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100" style="width: 30%;"></div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>*@
    </div>
    @Html.Partial("_Footer")
</div>
<!--Modal New Account-->
<!--<div id="newaccount" class="modal fade" role="dialog">
    <div class="modal-dialog">
        using (Html.BeginForm("CreateBuyer", "Manage", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {-->
            <!-- Modal content-->
            <!--<div class="modal-content" id="loadLoaiSP">
                <div class="modal-header">
                    <h4 class="modal-title">THÊM MỚI KHÁCH HÀNG</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <div class="col-5">
                            <label>Họ Tên:</label>
                        </div>
                        <div class="col-6">
                            <input type="text" name="hoten" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-5">
                            <label>Tài khoản:</label>
                        </div>

                        <div class="col-6">
                            <input type="text" name="username" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-5">
                            <label>Mật Khẩu:</label>
                        </div>

                        <div class="col-6">
                            <input type="text" name="password" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-5">
                            <label>EMAIL:</label>
                        </div>
                        <div class="col-6">
                            <input type="email" name="email" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-5">
                            <label>Số điện thoại:</label>
                        </div>

                        <div class="col-6">
                            <input type="text" name="phone" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-5">
                            <label>ĐƯỜNG:</label>
                        </div>

                        <div class="col-6">
                            <input type="text" name="street" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-5">
                            <label>PHƯỜNG/XÃ:</label>
                        </div>

                        <div class="col-6">
                            <input type="text" name="ward" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-5">
                            <label>QUẬN/HUYỆN:</label>
                        </div>

                        <div class="col-6">
                            <input type="text" name="district" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-5">
                            <label>TỈNH/TP:</label>
                        </div>

                        <div class="col-6">
                            <input type="text" name="province" class="form-control" />
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Cập Nhật">
                        <small><button type="button" class="btn btn-danger" data-dismiss="modal">Close</button></small>
                    </div>
                </div>

            </div>
    </div>
</div>-->
@section scripts{
    <script>
        $(document).ready(function () {
            Count_statistis();
        })

        function Count_statistis() {
            $.ajax({
                url: "/Manage/Manage/Count_statistis",
                type: "GET",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function (result) {
                    if (result != 0) {
                        $('#number_products').html(result.sp);
                        $('#number_products_an').html("Ẩn: " + result.sphide);

                        $('#number_member').html(result.mb);
                        $('#number_member_ad').html("Quản Lý: "+result.mbad);
                        $('#number_member_kh').html("Khách Hàng: "+result.mbkh);

                        $('#number_bills').html(result.hd); 
                        $('#number_bills_ok').html("Thanh Toán: "+result.hdtt);

                        $('#number_auctions').html(result.dg);
                        $('#number_auctions_run').html("Run: "+result.dgrun);
                        $('#number_auctions_stop').html("Stop: " + result.dgstop);
                        //console.log(result.sp);
                    }
                    else {
                        alert("Thống Kê Lỗi.");
                    }
                },
                error: function (errormessage) {
                    alert(errormessage.responseText);
                }
            });
        }
    </script>    
}